* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ---------- Contenitore principale ---------- */

main {
    width: 920px;
    height: 500px;
    border-radius: 8px;
    background: red;
    display: flex;
}

/* ---------- Tutte le Cards ---------- */

.card {
    width: 307px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    font-style: normal;
    color: #F2F2F2;
}

.card p {
    width: 212px;
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 25px;
    opacity: 0.75;
    color: #FFF;
}

/* ----------  ---------- */